body{
    background-color: #E2DDD0;
    margin: 0;
    display: flex;
    position: relative;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* form */

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 41px;
    padding: 16% 0% 5% 0%;
    }
    
.div1 { grid-area: 1 / 1 / 3 / 2; }
.div2 { grid-area: 1 / 2 / 3 / 3; }

.div1 {
    padding: 38px;
    background-color: black;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 9px;
}

.div1 h1{
    font-family: 'Mr Dafoe', cursive;
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.div2 {
    background-color: #BCB19F;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 9px;
    padding: 30px;
}

.div2 h2{
    font-size: 25px;
}

.input-box {
    padding: 5px;
}

.inf-reg {
    height: 35px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    text-align: center;
}


.input-box label{
    font-size: 20px;
    font-weight: bold;
}

.input-box input{
    height: 35px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 0px;
    font-size: 16px;
}

.form-reg h2{
    text-align: center;
}

.submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
}


/* footer */

.fin {
    background-color: #57461c;
    color: white;
}

.logotipo {
    font-family: 'Mr Dafoe', cursive;
    font-size: 35px;
    color: #fff;
    font-weight: 100;
    margin: 0;
}

.fin p{
    margin: 0;
}

.fin h2{
    text-align: center;
}

.fin {
    position: relative;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 768px) {

    .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 10px;
        }
        
        .div1 { grid-area: 1 / 1 / 2 / 2; }
        .div2 { grid-area: 2 / 1 / 3 / 2; }

}

@media only screen and (max-width: 375px) {

.div1 {
    padding: 10px;
}

.form-reg h2 {
    font-size: 17px;
}

.inf-reg {
    font-size: 15px;
}

.div2 {
    padding: 10px;
}

.input-box label {
    font-size: 16px;
}

.logotipo {
    font-size: 17px;
}

.fin p {
    font-size: 8px;
}

}